<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>

    <div id="loading-screen">
        <p>Initial Line Liff...</p>
    </div>

    <div id="main-content">
        <h1>歡迎使用 LIFF App</h1>
        <div id="user-profile">
            <img id="user-picture" src="" alt="User Picture">
            <p><strong>使用者名稱:</strong> <span id="user-name"></span></p>
            <p><strong>使用者 ID:</strong> <span id="user-id"></span></p>
            <p><a href="/book">book</a></p>
            <p><a href="/cart">cart</a></p>
        </div>
        <button onclick="liff.logout()">登出</button>
    </div>

<script type="module" src="../static/js/index.js"></script>
</body>
</html>